
<html>
<head>
    <meta charset="UTF-8" />

    <title>实例: CSS3技巧：利用css3径向渐变做一张优惠券</title>

</head>
<body>
<style>


</style>

<div class="demo">

    <div class="stamp stamp-orange">
        <div class="par">
            <span>某款食品兑换券</span>
            <p>凭此券可兑换某某食品一份</p>
            <p>拥有者：大野猪</p>
            <p>发放日期：2017-09-04</p>
        </div>
        <div class="copy">
            <span>立即使用 </span>
            <p>状态：可用</p>
        </div>
        <i></i>
    </div>

</div>


</body>
</html>