<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>家庭资源管理系统</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>

<div class="container-fluid">
    <!-- /* Header */ -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="page-header">
                <h1>
                    <p>家庭资源管理系统</p>
                    <small th:text="${subTitle}"></small>
                </h1>
                <a href="/">
                    <button type="button" class="btn btn-warning">查看所有的券</button>
                </a>
                <a href="/1/">
                    <button type="button" class="btn btn-primary">大野猪的券</button>
                </a>
                <a href="/0/">
                    <button type="button" class="btn btn-primary">小猪的券</button>
                </a>
                <a href="/create/">
                    <button type="button" class="btn btn-danger">新增兑换券</button>
                </a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <!-- /* Body */ -->
    <div class="row">

        <div class="col-md-2"></div>


        <div class="col-md-8 demo">
            <div th:each = "each: ${list}">
                <div class="stamp" th:classappend="${T(frp.helper.StyleHelper).stampStyleByTypeAndAvailability(each.type, each.state)}">
                    <div class="par">
                        <header th:text="${each.name}"></header>
                        <p th:text="${each.description}"></p>
                        <p style="line-height: 8px;"><sub th:text="'拥有者：' + ${T(frp.helper.StyleHelper).ownerNameById(each.ownerId)}"></sub></p>
                        <p style="line-height: 8px;"><sub th:text="'发放时间：' + ${each.createdDate}"></sub></p>
                        <div style="height: 5px"></div>
                    </div>
                    <div class="copy" th:title="${each.id}" th:attrappend="data-coupon-state=${each.state}, data-coupon-id=${each.id}">
                        <header th:text="${each.state==1 ? '立即使用' : '再来一张'}"></header>
                        <p th:text="${each.state==1 ? '状态：可用' : '状态：已使用'}"></p>
                    </div>
                    <i></i>
                </div>
            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

    <!--/* Modal-Message */-->
    <div class="modal fade" id="modal-message" tabindex="10" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="modal-message-header">
                    Message
                </div>
                <div class="modal-body" id="modal-message-body">
                </div>
                <div class="modal-footer">
                    <a href="/">
                        <button type="button" class="btn btn-warning">查看所有的券</button>
                    </a>
                    <a href="/1/">
                        <button type="button" class="btn btn-primary">大野猪的券</button>
                    </a>
                    <a href="/0/">
                        <button type="button" class="btn btn-primary">小猪的券</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/js/item.js"></script>

</body>
</html>